* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 10px;
}

body {
  font-size: 16px;
}

.container {
  max-width: 108rem;
  margin: 0rem auto;
  padding: 0 2rem;
}

.sec-gap {
  margin-top: 8rem;
}

.mobil-nav-arrow {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mobil-nav-arrow span {
  padding: 0 1rem;
}

h1 {
  font-size: 5.4rem;
}

h2 {
  font-size: 4rem;
  line-height: 4rem;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 1.8rem;
}

p {
  font-size: 1.5rem;
}

.f-parimary {
  color: #AC0004;
}

.f-secondary {
  color: #FCB018;
}

.subheading {
  display: flex;
  align-items: self-end;
  gap: 1rem;
  font-weight: 500;
}

.card-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  margin-top: 4rem;
  flex-wrap: wrap;
}
.card-wrap .box {
  background: #8C8D8A;
  border-radius: 20px;
  height: 270px;
  width: 270px;
  flex-basis: calc(25% - 2rem);
}

.list {
  margin: 1rem;
}
.list ul li {
  list-style: disc;
  margin-left: 3rem;
  font-size: 1.5rem;
}

@keyframes headerAnimation {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
.top-bar {
  background: #3D3D3B;
  color: #fff;
  padding: 0.8rem 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;
}
.top-bar .left-info {
  display: flex;
  gap: 2rem;
}
.top-bar .left-info .info-item {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}
.top-bar .left-info .info-item i {
  font-size: 1.8rem;
  color: #fff;
}
.top-bar .right-info {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.top-bar .right-info .auth-links {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}
.top-bar .right-info .auth-links a {
  color: #FCB018;
  text-decoration: none;
  font-weight: 500;
}
.top-bar .right-info .auth-links a:hover {
  text-decoration: underline;
}
.top-bar .right-info .auth-links span {
  color: #fff;
}
.top-bar .right-info .social-icons {
  display: flex;
  gap: 1rem;
}
.top-bar .right-info .social-icons a {
  width: 2.8rem;
  height: 2.8rem;
  border: 0.1rem solid #8C8D8A;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: 0.5s all ease;
}
.top-bar .right-info .social-icons a i {
  font-size: 1.3rem;
  color: #fff;
}
.top-bar .right-info .social-icons a:hover {
  background: #AC0004;
  border-color: #AC0004;
  transition: 0.5s all ease;
}

.sticky .main-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9;
  transition: 0.5s ease;
  animation: headerAnimation 1s forwards;
}

.main-header {
  padding: 1.5rem 4rem;
  background: #fff;
  box-shadow: 0 0.1rem 1rem #8C8D8A;
}

.desktop-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.desktop-nav .logo img {
  width: 14rem;
  height: auto;
}
.desktop-nav .navbar .menu {
  display: flex;
  gap: 3.5rem;
  list-style: none;
}
.desktop-nav li {
  position: relative;
}
.desktop-nav li a {
  text-decoration: none;
  color: #3D3D3B;
  font-size: 1.6rem;
  font-weight: 500;
}
.desktop-nav li a.active_nav {
  color: #AC0004;
  font-weight: 600;
}
.desktop-nav li a:hover {
  color: #AC0004;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.header-right .icons {
  display: flex;
  gap: 2rem;
}
.header-right .icons i {
  font-size: 2.2rem;
  cursor: pointer;
  color: #000;
}
.header-right .icons i:hover {
  color: #AC0004;
}
.header-right .call-box {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.header-right .call-box .call-icon {
  background: #AC0004;
  width: 3.8rem;
  height: 3.8rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-right .call-box .call-icon i {
  color: #fff;
  font-size: 2rem;
}
.header-right .call-box .call-info span {
  font-size: 1.3rem;
  color: #FCB018;
}
.header-right .call-box .call-info strong {
  font-size: 1.5rem;
  color: #000;
}

/* COMMON DROPDOWN BASE */
.dropdown {
  position: relative;
  /* SHOW ON HOVER */
  /* RIGHT POSITION FOR NESTED MENU */
}
.dropdown a {
  font-size: 1rem;
}
.dropdown .submenu {
  position: absolute;
  top: 100%;
  left: 0;
  min-width: -moz-max-content;
  min-width: max-content;
  background: #fff;
  padding: 1.5rem;
  border-radius: 1rem;
  box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.1);
  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease;
  transform: translateY(1rem);
  z-index: 10;
}
.dropdown .submenu li {
  margin-bottom: 1rem;
}
.dropdown .submenu li:last-child {
  margin-bottom: 0;
}
.dropdown:hover > .submenu {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
.dropdown .submenu .submenu {
  left: 100%;
  top: 0;
}

body.menu-open .mobile-menu {
  transform: translateX(0);
}

body.menu-open .mobile-menu-overlay {
  pointer-events: auto;
  transform: translateX(0);
  transition: 0.7s all ease;
}

.mobile-menu-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  pointer-events: none;
  transition: 0.5s;
  transform: translateX(-100%);
  width: 80%;
  z-index: 1;
}

.mobile-menu {
  position: fixed;
  left: 0;
  top: 0;
  width: 70%;
  height: 100vh;
  background: #fff;
  transform: translateX(-100%);
  transition: 0.5s ease;
  z-index: 9999;
  overflow: hidden;
}

.menu-panel {
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  background: #fff;
  padding: 2rem;
  transition: 0.4s;
}

.menu-panel.active {
  left: 0;
}

.panel-header {
  display: flex;
  gap: 1rem;
  font-size: 1.8rem;
}

.back-btn {
  cursor: pointer;
}

.menu-panel ul li {
  padding: 1.6rem 0;
  border-bottom: 1px solid #eee;
  font-size: 1.6rem;
  cursor: pointer;
}
.menu-panel ul li a {
  color: #000;
}
.menu-panel ul li a.active_nav {
  color: #AC0004;
  font-weight: 600;
}

.mobile-logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mobile-logo .nav-btn span {
  background: #000;
  width: 3rem;
  height: 0.4rem;
  display: block;
  border-radius: 1rem;
  transform-origin: right;
  transition: 0.5s all ease;
}
.mobile-logo .nav-btn span:nth-child(2) {
  margin: 0.6rem 0;
  width: 2.5rem;
  text-align: right;
}

.menu-open {
  overflow: hidden;
}
.menu-open .nav-btn span:nth-child(1) {
  transform: rotate(-45deg);
}
.menu-open .nav-btn span:nth-child(2) {
  opacity: 0;
  margin: 0.66rem 0 !important;
}
.menu-open .nav-btn span:nth-child(3) {
  transform: rotate(45deg);
}

.mobile-nav-sec {
  display: none;
}

@media (max-width: 786px) {
  .mobile-nav-sec {
    display: block;
  }
  .desktop-nav {
    display: none;
  }
  .top-bar {
    display: block;
    padding: 1rem 2rem;
  }
  .top-bar .left-info {
    display: none;
  }
  .top-bar .right-info {
    justify-content: space-between;
  }
  .menuopen {
    overflow: hidden;
  }
  .menuopen .main-header .navbar {
    transform: translateX(0);
    transition: 0.5s all ease;
  }
  .menuopen .main-header .backdrop {
    transform: translateX(0);
    transition: 0.3s all ease;
  }
  .main-header {
    padding: 1rem 2rem;
  }
  .main-header .logo img {
    width: 14rem;
  }
  .main-header .backdrop {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4196078431);
    width: 70%;
    height: 100vh;
    z-index: 9;
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
    transform: translateX(-100%);
    transition: 0.8s all ease;
  }
  .main-header .header-right .call-box {
    display: none;
  }
}/*# sourceMappingURL=main.css.map */