* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Ubuntu", sans-serif;
}

body {
  font-size: 1.5rem;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

.container {
  max-width: 1080px;
  margin: 0px auto;
  padding: 0 2rem;
}

h2 {
  font-size: 3rem;
}

p {
  font-size: 1.5rem;
  font-weight: 100;
  line-height: 2.2rem;
  margin-top: 2rem;
}

.d-flex {
  display: flex;
}

.a-center {
  align-items: center;
}

.clearfix {
  clear: both;
}

/* Navigation Bar */
header {
  top: 0rem;
  width: 100%;
  z-index: 9;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 3rem;
  margin: 0rem 0 0 0;
  background: inherit;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  text-align: center;
  border-radius: 5rem;
}
header nav .logo {
  width: 20%;
}
header nav .logo a img {
  width: 100%;
  height: 100%;
}
header nav ul {
  display: flex;
  justify-content: space-between;
}
header nav ul li {
  margin-left: 20px;
}
header nav ul li a {
  font-size: 1.6rem;
  transition: 0.3s ease-in;
}
header nav ul li .nav-active {
  text-shadow: 0 0 7px #fff, 0 0 17px #cc13e9, 0 0 25px #d82ef2;
}
header nav ul li .nav-active:hover {
  text-shadow: 0 0 7px #b21de0;
  transition: 0.3s ease-in;
}
header nav ul li:hover {
  text-shadow: 0 0 7px #fff, 0 0 17px #cc13e9, 0 0 25px #d82ef2;
  transition: 0.1s ease-in;
}
header nav ul .menu-btn {
  display: none;
}
header nav ul .menu-btn span {
  display: block;
  width: 2rem;
  height: 0.3rem;
  border-radius: 1rem;
  background-color: #fff;
  cursor: pointer;
}
header nav ul .menu-btn span:nth-child(2) {
  margin: 0.5rem 0;
  width: 2.5rem;
}

.mobile-menu {
  display: none;
  position: fixed;
  padding: 3rem;
  box-shadow: 0 0 7px #fff, 0 0 14px #d541ec, 0 0 4px #d541ec;
  background: inherit;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border-radius: 5rem;
  margin-left: 2rem;
  z-index: 9;
  transform: translateX(-130%);
  transition: 0.5s ease-in-out;
}
.mobile-menu ul li {
  font-size: 1.8rem;
  padding: 2rem 1rem;
}

.widegt .socail {
  position: fixed;
  left: 3rem;
  bottom: 0rem;
  z-index: 9;
}
.widegt .socail::after {
  content: "";
  display: block;
  width: 1px;
  height: 9rem;
  background-color: #000000;
  margin: 0rem auto;
}
.widegt .socail ul li {
  padding: 1rem;
}
.widegt .socail ul li > a i {
  font-size: 1.8rem;
  text-shadow: 0 0 7px #fff, 0 0 17px #cc13e9, 0 0 25px #d82ef2;
}
.widegt .socail ul li > a i:hover {
  text-shadow: 0 0 7px #b21de0;
  transition: 0.3s ease-in;
}
.widegt .email {
  position: fixed;
  right: 3rem;
  bottom: 0rem;
  z-index: 9;
}
.widegt .email::after {
  content: "";
  display: block;
  width: 1px;
  height: 9rem;
  background-color: #000000;
  margin: 0rem auto;
}
.widegt .email a {
  font-size: 1.6rem;
  padding: 1rem;
  writing-mode: vertical-lr;
  text-shadow: 0 0 7px #fff, 0 0 17px #cc13e9, 0 0 25px #d82ef2;
}
.widegt .email a:hover {
  text-shadow: 0 0 7px #b21de0;
  transition: 0.3s ease-in;
}

.hero-session .hero-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 5rem;
}
.hero-session .hero-container .hero-content {
  width: 100%;
}
.hero-session .hero-container .hero-content > h4 {
  font-size: 1.6rem;
  color: #f44336;
}
.hero-session .hero-container .hero-content > h1 {
  font-size: 5.5rem;
}
.hero-session .hero-container .hero-content > h2 {
  font-size: 4rem;
  margin-top: 1rem;
}
.hero-session .hero-container .hero-content p {
  font-size: 1.6rem;
  font-weight: 200;
  margin-top: 2rem;
  line-height: 2.5rem;
}
.hero-session .hero-container .hero-content .hero-btn button {
  margin-top: 5rem;
  background-color: #7d13ab;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}
.hero-session .hero-container .hero-codwin {
  width: 100%;
}
.hero-session .hero-container .hero-codwin .codwin-t-btn {
  margin-bottom: 2rem;
}
.hero-session .hero-container .hero-codwin .codwin-t-btn > button {
  border: 1px solid #7d13ab;
  background: none;
  padding: 1rem 1.5rem;
  margin-left: 1rem;
}
.hero-session .hero-container .hero-codwin .codwin-win {
  border-radius: 2rem;
  position: relative;
}
.hero-session .hero-container .hero-codwin .codwin-win .codwin-win-h {
  width: 100%;
  height: 4rem;
  background: #062d54;
  border-radius: 2rem 2rem 0 0;
}
.hero-session .hero-container .hero-codwin .codwin-win .codwin-win-body {
  width: 100%;
  height: 30rem;
  background: #1d3854;
  border-radius: 0 0 2rem 2rem;
  display: flex;
}
.hero-session .hero-container .hero-codwin .codwin-win .codwin-win-body .count {
  padding: 0.5rem 1rem;
  width: 0;
}
.hero-session .hero-container .hero-codwin .codwin-win .codwin-win-body .count > pre {
  line-height: 1.8rem;
  font-size: 1.2rem;
  color: #455b72;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.hero-session .hero-container .hero-codwin .codwin-win .codwin-win-body code {
  line-height: 1.8rem;
  padding: 0.5rem 1rem;
}
.hero-session .hero-container .hero-codwin .codwin-win .codwin-win-body code .code-green {
  color: #009632;
}
.hero-session .hero-container .hero-codwin .codwin-win .codwin-win-body code .code-orange {
  color: #ff9800;
}
.hero-session .hero-container .hero-codwin .codwin-win .codwin-win-body code .code-yellow {
  color: #f4c136;
}
.hero-session .hero-container .hero-codwin .codwin-win .codwin-win-body code .code-purple {
  color: #d531f2;
}
.hero-session .hero-container .hero-codwin .codwin-win .codwin-win-body code .code-blue {
  color: #2196f3;
}
.hero-session .hero-container .hero-codwin .codwin-win .codwin-win-body code .code-white {
  color: #fff;
}
.hero-session .hero-container .hero-codwin .codwin-win .codwin-win-body code .code-gap {
  padding-left: 0.5rem;
}
.hero-session .hero-container .hero-codwin .codwin-img {
  width: 25rem;
  position: absolute;
  top: 48rem;
  right: 15rem;
}
.hero-session .hero-container .hero-codwin .codwin-img > img {
  width: 100%;
  border-radius: 2rem;
}

.about {
  margin-top: 5rem;
  padding-top: 15rem;
  margin-bottom: -5rem;
}
.about .about-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 5rem;
}
.about .about-container .about-content {
  width: 50%;
}
.about .about-container .about-content > h2::after {
  content: "";
  display: block;
  height: 0.3rem;
  width: 10rem;
  background-color: #fff;
  margin-left: 2rem;
}
.about .about-container .about-img {
  width: 50%;
}
.about .about-container .about-img > img {
  width: 100%;
}

.project {
  padding-top: 14rem;
  margin-bottom: -5rem;
}
.project .project-container > h2 {
  justify-content: center;
}
.project .project-container > h2::after {
  content: "";
  display: block;
  height: 0.3rem;
  width: 30rem;
  background-color: #fff;
  margin-left: 2rem;
}
.project .project-container > p {
  margin: 0.5rem auto;
  width: 60%;
  text-align: center;
}
.project .project-container .project-showcash .showbox .swiper-slide {
  padding: 3rem 2rem;
}
.project .project-container .project-showcash .showbox .box {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 2rem;
  padding: 1rem;
  background: #1d3854;
  border-radius: 2rem;
  transition: 0.3s ease-in;
  overflow: hidden;
}
.project .project-container .project-showcash .showbox .box:hover {
  transform: scale(1.02);
}
.project .project-container .project-showcash .showbox .box > h3 {
  font-size: 1.8rem;
}
.project .project-container .project-showcash .showbox .box > p {
  font-size: 1.4rem;
  margin-top: 1rem;
}
.project .project-container .project-showcash .showbox .box .box-content {
  width: 60%;
  padding: 5rem 2rem 2rem;
}
.project .project-container .project-showcash .showbox .box .box-content > h3 {
  margin-bottom: 2rem;
}
.project .project-container .project-showcash .showbox .box .box-content .box-btn {
  margin-top: 3rem;
}
.project .project-container .project-showcash .showbox .box .box-content .box-btn a:nth-child(2) {
  font-size: 1.6rem;
}
.project .project-container .project-showcash .showbox .box .box-image {
  width: 40%;
}
.project .project-container .project-showcash .showbox .box .box-image img {
  width: 100%;
  position: relative;
  bottom: -8rem;
  right: -2rem;
  border-radius: 2rem 0 0 0;
}

.skill {
  padding-top: 15rem;
}
.skill .skill-container > h2::after {
  content: "";
  display: block;
  height: 0.3rem;
  width: 20rem;
  background-color: #fff;
  margin-left: 2rem;
}
.skill .skill-container .skill-content {
  display: flex;
  justify-content: space-between;
  gap: 5rem;
  margin-top: 5rem;
}
.skill .skill-container .skill-content .skill-left {
  width: 50%;
}
.skill .skill-container .skill-content .skill-left > h3 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}
.skill .skill-container .skill-content .skill-left > p {
  font-size: 1.4rem;
}
.skill .skill-container .skill-content .skill-left ul li {
  font-size: 1.6rem;
  margin-bottom: 1.5rem;
}
.skill .skill-container .skill-content .skill-left ul li > span {
  margin-bottom: 1rem;
}
.skill .skill-container .skill-content .skill-left ul li .progress2 {
  padding: 2px;
  border-radius: 30px;
  background: rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 1px 2px rgb(33, 24, 35), 0 1px rgba(255, 255, 255, 0.245);
  margin-top: 0.8rem;
}
.skill .skill-container .skill-content .skill-left ul li .progress-moved .progress-bar2 {
  width: 90%;
  height: 12px;
  border-radius: 30px;
  background-color: #f6d5fb;
  animation: progresshtml 6s;
}
.skill .skill-container .skill-content .skill-left ul li .progress-moved .cssbar {
  width: 80%;
  animation: progresscss 6s;
}
.skill .skill-container .skill-content .skill-left ul li .progress-moved .jsbar {
  width: 50%;
  animation: progressjs 6s;
}
.skill .skill-container .skill-content .skill-left ul li .progress-moved .sassbar {
  width: 80%;
  animation: progresssass 6s;
}
.skill .skill-container .skill-content .skill-left ul li .progress-moved .wordbar {
  width: 60%;
  animation: progressword 6s;
}
.skill .skill-container .skill-content .skill-left ul li .progress-moved .psbar {
  width: 70%;
  animation: progressps 6s;
}
.skill .skill-container .skill-content .skill-left ul li .progress-moved .ilbar {
  width: 50%;
  animation: progressil 6s;
}
.skill .skill-container .skill-content .skill-left ul li .progress-moved .fibar {
  width: 60%;
  animation: progressfi 6s;
}
.skill .skill-container .skill-content .skill-right {
  width: 50%;
}
.skill .skill-container .skill-content .skill-right img {
  width: 100%;
}
.skill .skill-container .toolkit > h2 ::after {
  content: "";
  display: block;
  height: 0.3rem;
  width: 20rem;
  background-color: #fff;
  margin-left: 2rem;
}
.skill .skill-container .toolkit .toolkit-box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
  justify-content: center;
  margin-top: 4rem;
}
.skill .skill-container .toolkit .toolkit-box-container .tool-box {
  background: #041d36;
  border-radius: 2rem;
  padding: 2rem;
  width: calc(15% - 2rem);
}
.skill .skill-container .toolkit .toolkit-box-container .tool-box img {
  width: 100%;
}

@keyframes progresshtml {
  0% {
    width: 5%;
    background-color: #cc13e9;
  }
  100% {
    width: 90%;
    background-color: #f6d5fb;
  }
}
@keyframes progresscss {
  0% {
    width: 5%;
    background-color: #cc13e9;
  }
  100% {
    width: 80%;
    background-color: #f6d5fb;
  }
}
@keyframes progressjs {
  0% {
    width: 5%;
    background-color: #cc13e9;
  }
  100% {
    width: 50%;
    background-color: #f6d5fb;
  }
}
@keyframes progresssass {
  0% {
    width: 5%;
    background-color: #cc13e9;
  }
  100% {
    width: 80%;
    background-color: #f6d5fb;
  }
}
@keyframes progressword {
  0% {
    width: 5%;
    background-color: #cc13e9;
  }
  100% {
    width: 60%;
    background-color: #f6d5fb;
  }
}
@keyframes progressps {
  0% {
    width: 5%;
    background-color: #cc13e9;
  }
  100% {
    width: 70%;
    background-color: #f6d5fb;
  }
}
@keyframes progressil {
  0% {
    width: 5%;
    background-color: #cc13e9;
  }
  100% {
    width: 50%;
    background-color: #f6d5fb;
  }
}
@keyframes progressfi {
  0% {
    width: 5%;
    background-color: #cc13e9;
  }
  100% {
    width: 60%;
    background-color: #f6d5fb;
  }
}
.contact {
  margin-top: 12rem;
}
.contact .contact-container {
  border-top: 1px solid #fff;
  height: 30rem;
}
.contact .copyright {
  text-align: center;
  border-top: 14px solid rgba(255, 255, 255, 0.2941176471);
}
.contact .copyright > p {
  padding: 1.5rem 0;
  margin-top: 0;
}

.contact .contact-container {
  text-align: center;
  padding: 3rem 0 0;
}
.contact .contact_sourec {
  margin-top: 3rem;
}
.contact .contact_sourec a {
  font-size: 1.6rem;
  border: 1px solid #fff;
  padding: 1rem;
  border-radius: 5rem;
  margin: 0 1rem;
}
.contact .contact_sourec a:hover {
  box-shadow: 0 0 7px #fff, 0 0 30px #cc13e9;
}
.contact .contact-img {
  width: 21%;
  margin: 0px auto;
  margin-top: 5rem;
}
.contact .contact-img img {
  width: 100%;
}/*# sourceMappingURL=main.css.map */